{
	servers {
		protocols h1 h2 h2c
	}
}

inhumane.in, www.inhumane.in {
	handle /api/* {
		reverse_proxy api:4000
	}
	handle {
		reverse_proxy web:3000
	}
}

chat.inhumane.in {
	handle /api/* {
		reverse_proxy api:4000
	}
	handle {
		reverse_proxy web:3000
	}
}

api.inhumane.in {
	reverse_proxy api:4000
}
